body{
    background-color: #111111;
color: white;
font-family: Arial, Helvetica, sans-serif;
margin: 0;
} 

/* Style for the header section */
header{
    height: 60px;
    background-color: #181818;

    display: flex;
    align-items: center;

    gap: 30px;
    padding: 0 25px;
}

header h1{
    font-size: 24px;
    margin: 0;
}

header nav{
    display: flex;
    gap: 25px;
}

header nav a {
    color: white;
    text-decoration: none;
}

header nav a:hover{
    color: #00ff88;
}

.layout{
    display: flex;
    min-height: calc(100vh - 60px);
}
aside{
    width: 180px;
    background-color: #181818;
    padding: 25px;
}

aside h2{
    font-size: 18px;
    margin-bottom: 25px;
}

aside a{
    display: block;
    color: #dddddd;
    text-decoration: none;

padding: 12px;
margin-bottom: 5px;

border-radius: 6px;
border-color: #00ff88;

}

aside a:hover{
    background-color: #303030;
}
 
main{
    flex: 1;
    padding: 35px;

}

main > h2{
    font-size: 32px;
    margin-bottom: 0;
}

section {
    margin-bottom: 40px;
}

section h3{
    font-size: 22px;
    margin-bottom: 20px;
}

.games{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

article{
    background-color: #1c1c1c;
    border-radius: 10px;
    overflow: hidden;
    padding-bottom: 15px;
}

article h4{
    font-size: 17px;
    margin: 15px 15px 5px;
}

article p{
    color: #aaaaaa;
    margin: 0 15px;
}

.game-image{
    height: 140px;
}

game-one {
    background: linear-gradient(135deg, #3023ae, #c86dd7);
}
 
.game-two {
    background: linear-gradient(135deg, #ff1b1b, #fc0000);
}
 
.game-three {
    background: linear-gradient(135deg, #ee0979, #ff6a00);
}
 
.game-four {
    background: linear-gradient(135deg, #396afc, #2948ff);
}
 
.game-five {
    background: linear-gradient(135deg, #f7971e, #ffd200);
}
 
.game-six {
    background: linear-gradient(135deg, #434343, #000000);
}
 
.game-seven {
    background: linear-gradient(135deg, #00c6ff, #0072ff);
}
 
.game-eight {
    background: linear-gradient(135deg, #654ea3, #eaafc8);
}
