
body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(249, 249, 249);
    font-style: italic;
}

header{
    background-color: rgba(127, 255, 212, 0);
    display: flex;
    flex-direction: column;
}

h1{
    bottom: 20px;
    margin: 30px;
}

h2{
    background-color: rgb(0, 255, 21);
    font-size: 40px;
    margin: 40px;
}

ul{
    background-color: rgb(36, 253, 90);
    font-size: 30px;
}

h3{
    font-size: 40px;
}

h4{
    font-size: 30px;
}