body{
    background-color: rgb(37, 148, 35);
color: rgba(50, 47, 0, 0.908);
font-family: Arial, Helvetica, sans-serif;
margin: 0;
} 

/* Style for the header section */

header{
    height: 80px;

    display:flexbox;
    align-items:baseline ;

    gap: 30px;
    padding: 0 25px;
 }

    header h1{
    font-size: 60px;
    margin: 0;
    color: rgb(164, 152, 21);
}

header nav a:hover{
    color: #00ff88;
}








